body{
    background-color:black
}

.info{
  float: left;
  border:solid 5px #00FF33; 
  text-align: center;
  padding: 10px;
  margin-top:180px;
  margin-left:55px ;
  background-color: white;

}

.map{
float: right;
margin-top:35px;
margin-right: 55px;
border:solid 5px #00FF33; 


}
.Button2 {
  background-color: rgb(179, 31, 31);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-shadow: 5px 4px 2px rgb(33, 37, 33);
  
}


